nav{
    background-color: transparent;
    /* height: 20vh; */
}

.footer-p{
    display: inline;
}

.menu-button{
    /* width: 180px;
    /* height: 50px; */
    /* font-family: 'Nanum Gothic'; */
    min-width: 200px;
    color: black;
    text-align: center;
    background: transparent;
}

.icon2{
    width: 42px;
    height: 42px;    
}